// COLORS
$MidnightGreen: #014e56;
$LightCoral: #f67e7e;
$White: #ffffff;
$RaptureBlue: #79C8C7;
$PoliceBlue: #2C6269;
$DeepJungleGreen: #004047;
$SacramentoStateGreen: #012f34;
$DarkGreen: #002529;

// FONTS
$font-stack: "Arial", sans-serif;
